In [2]:
from math import sqrt, comb
n=5
m=5
L=0.1
kwantyl = 1.28
mi = n*(n+m+1)/2
sigma = m*n*(m+n+1)/12
mi, sqrt(sigma)

(27.5, 4.7871355387816905)

In [3]:
kw=kwantyl*sqrt(sigma)+mi
kw

33.62753348964056

In [4]:
#matlab nchoosek(1:N, 5)

def nchoosek(n, k):
    if k == 0:
        r = 1
    else:
        r = n/k * nchoosek(n-1, k-1)
    return round(r)

In [5]:
nchoosek(m+n, n)

252

In [6]:
com = comb(n+m, n)
com

252

In [7]:
import itertools
from numpy import shape, array
all_combos = list(itertools.combinations([1,2,3,4,5,6,7,8,9,10], 5))
#print(all_combos)
arri = array(all_combos)
arri.shape

(252, 5)

In [8]:
arri

array([[ 1,  2,  3,  4,  5],
       [ 1,  2,  3,  4,  6],
       [ 1,  2,  3,  4,  7],
       ...,
       [ 5,  6,  8,  9, 10],
       [ 5,  7,  8,  9, 10],
       [ 6,  7,  8,  9, 10]])

In [9]:
def row_sum(arr) :
 
    sum = 0
 
    print("\nFinding Sum of each row:\n")
 
    # finding the row sum
    for i in range(m) :
        for j in range(n) :
 
            # Add the element
            sum += arr[i][j]
 
        # Print the row sum
        print("Sum of the row",i,"=",sum)
 
        # Reset the sum
        sum = 0
        
def column_sum(arr) :
 
    sum = 0
 
    print("\nFinding Sum of each column:\n")
 
    # finding the column sum
    for i in range(m) :
        for j in range(n) :
 
            # Add the element
            sum += arr[j][i]
 
        # Print the column sum
        print("Sum of the column",i,"=",sum)
 
        # Reset the sum
        sum = 0

In [10]:
column_sum(arri)

Finding Sum of each column:

Sum of the column 0 = 5
Sum of the column 1 = 10
Sum of the column 2 = 15
Sum of the column 3 = 20
Sum of the column 4 = 35

array([[ 1,  2,  3,  4,  5],
       [ 1,  2,  3,  4,  6],
       [ 1,  2,  3,  4,  7],
       ...,
       [ 5,  6,  8,  9, 10],
       [ 5,  7,  8,  9, 10],
       [ 6,  7,  8,  9, 10]])

In [11]:
prawdopoodbieństwo = 28/com
prawdopoodbieństwo

0.1111111111111111

zadanie 2

In [12]:
m=6
n=3
N=9

In [13]:
com1 = comb(m+n, n)
com1

84

In [14]:
g=80
alpha0 = g/com1
alpha0

0.9523809523809523

In [30]:
import scipy.stats
from math import sqrt

In [57]:
m=6
n=3
N=m+n
w9=9
w12 = 12
w15 = 15
w21 = 21
gora9 = 9-0.5*n*(N+1)
dol = sqrt(m*n*(N+1)/12)
d1=gora9/dol
scipy.stats.norm.ppf(d1), d1

(nan, -1.5491933384829668)

In [58]:
gora12=12-0.5*n*(N+1)
d2=gora12/dol
scipy.stats.norm.ppf(d2), d2

(nan, -0.7745966692414834)

In [59]:
gora15=15-0.5*n*(N+1)
d3=gora15/dol
scipy.stats.norm.ppf(d3), d3

(-inf, 0.0)

In [61]:
gora21=21-0.5*n*(N+1)
d4=gora21/dol
scipy.stats.norm.ppf(d4), d4

(nan, 1.5491933384829668)

In [63]:
scipy.stats.norm.ppf(0.99)

2.3263478740408408